[submodule "libnvme"]
	path = libnvme-sys/external/libnvme
	url = https://github.com/linux-nvme/libnvme.git
[submodule "vendor/workloadgen"]
	path = vendor/workloadgen
	url = git@github.com:johnramsden/OxCache-YCSB.git
[submodule "vendor/OxCache-WiredTiger-Trace"]
	path = vendor/OxCache-WiredTiger-Trace
	url = https://github.com/johnramsden/OxCache-WiredTiger-Trace
